*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header{
    display: flex;
    justify-content: center;
   align-items: center;
   position: sticky;
   top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 12px 0 rgb(154, 157, 158);
    z-index: 1000;
    
  }

  .home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
    margin-top: 80px;
  }
  .leftpart{
    display: flex;
    align-items: center;
    width: 50%;
   
    margin-left: 0px;
  }
  .rightpart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .pcont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .ccont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;

  }

  .pimg{
    height: 20px;
    width: 20px;
  }

  .cartimg{
    height: 20px;
    width: 20px;
  }

  .logimg{
    height: 50px;
    width: 50px;
    margin-left: 30px;
  }

  .searchBar{
    width: 100%;
    height: 30px;
    max-width: 500px;
    background-color: rgba(225, 225, 225, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    margin-left: 5px;
    border: 1px solid rgb(159, 152, 152);
}

.searchBar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline:black;
    padding: 24px 20px;
}

.searchBar button{
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 50%;
    background-color:rgba(225, 225, 225, 0.05);



}
.btnimg{
    height: 25px;
    width: 25px;}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 209, 236);
    height: 800px;

}

#login_block{
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    

}

.lrcont{
    display: flex;
    width: 100%;
    
}
#price{
    width: 100%;
    margin-left: 20px;
}

.leftdes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    margin-left: 20px;


}

.rightdes{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;

}

.pr{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}

.op{
    font-size: 15px;
    margin-bottom: 10px;
}
.opv{
    font-size: 15px;
    margin-bottom: 10px;
    
}

.dp{
    font-size: 15px;
    margin-bottom: 10px;
}

.dpv{
    font-size: 15px;
    margin-bottom: 10px;
    color: green;

}

.shipping{
    font-size: 15px;
    margin-bottom: 10px;

    padding-bottom: 2px;

}

.shippingv{
    font-size: 15px;
    margin-bottom: 10px;
    color: green;
    padding-bottom: 2px;


}

.logoimg{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    
}
